.card-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 330px;
    height: 140px;
    background: rgb(197, 213, 230);
    border-radius: 8px;
}

.card-number-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
    width: 290px;
    margin-left: 20px;
    color: rgb(245, 245, 245);
}

.card-inputs{
    display: flex;
    flex-direction: row;
}

#number{
    width: 60px;
    margin-right: 10px;
    border-radius: 5px;
    :last-child{
        margin-right: 0px;
    }
}

.date-cvv-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-span{
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0px 10px;
    width: 80px;
    color: rgb(245, 245, 245);
}

.payment-way-title{
    color: rgb(156, 162, 170);
}

.card-form-title{
    color: rgb(156, 162, 170);
}

#date,#cvv{
    border-radius: 5px;
}

.expiration{
    display: flex;
    flex-direction: row;
}
