.assistance-type-box-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;

    :first-child{
        cursor: pointer;
    }
    :last-child{
        margin-right: 0%;
    }
}

.title-img-container{
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 180px;
    cursor: pointer;
}

.title-img-container:first-child{
    margin-top: 175px;
    margin-left: 50px;
}

.assistance-box-title{
    display: flex;
    align-self: center;
    margin-left: 20px;
    font-weight: 900;
    font-size: 22px;
    color: rgb(74, 79, 109);
    margin-bottom: 20px;
}

.assistance-type-box-img{
    height: 83px;
    width: 83px;
    margin-right: 3%;
}

.dscr-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 180px;
    margin-left: 85px;
    margin-top: -150px;

    :first-child{
        margin-left: 85px;
        width: 170px;
    }
}

.assistance-box-description{
    margin-top: -250px;
}